{% include "header.html" %}
{% include "menu.html" %}
{% from "security/macros.html" import render_input_with_errors %}
<link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">

{% block body %}

{% include "messages.html" %}

<div class="container">
  <form class="form-signin" action="{{ url_for_security('change_password') }}" method="POST" name="change_password_form">
    <h2 class="form-signin-heading text-center">Change Password</h2>
    {{ change_password_form.hidden_tag() }}
    {{ render_input_with_errors(change_password_form.password, "password", "Current Password", "required") }}
    <ul class="alertspace">
      <li id="suggestions_box">
        <div class="spacing">
          <p class="suggestions"></p>
        </div>
      </li>
    </ul>
    {{ render_input_with_errors(change_password_form.new_password, "password", "New Password", "required") }}

    <ul class="alertspace">
      <li id="warning_box">
        <div class="spacing">
          <p class="warning"></p>
        </div>
      </li>

    </ul>

    {{ render_input_with_errors(change_password_form.new_password_confirm, "password", "Confirm Password", "required") }}

    <button class="btn btn-lg btn-primary btn-block" id="c" type="submit" value="Change Password">Change Password</button>
  </form>
</div>

{% endblock %}
{% include "footer.html" %}
<script type="text/javascript">
  window.onload = function() {
    // the warning and suggestion boxes are hidden on loading the page
    $('#warning_box').hide();
    $('#suggestions_box').hide();
    // password_check will:
      // 1) (if password box is empty) hide the warnings and suggestions
      // 2) (else, i.e., when box isn't empty) check password strength and show warnings and suggestions accordingly
    password_check = function() {
      // variables to improve readibility and reduce typing.
        //base forms:
      var warning_string = zxcvbn(this.value).feedback.warning;
      var suggestions_array = zxcvbn(this.value).feedback.suggestions;
        // converting suggestions_array into a more useful form:
      var suggestions_string = suggestions_array.join(' ');
      // if new password box is empty: hide the warning and suggestion boxes
      // else: show the warning and suggestion boxes
      if (this.value == '') {
        $('#warning_box').hide();
        $('#suggestions_box').hide();
      } else {
        // showing the warnings/suggestions,
        $('#warning_box').show();
          // if a warning exists: show the warning box
          // else: hide the (obviously empty) warning box
        if (warning_string != '') {
          $('.warning').text(warning_string);
          $('#warning_box').show();
          $('#suggestions_box').hide();
          document.getElementById('c').disabled = true;
        } else if (warning_string == '') {
          $('#warning_box').hide();
          document.getElementById('c').disabled = false;
            // if one or more suggestions exist: show the suggestions box
            // else: hide the (obviously empty) suggestions box
          if (suggestions_array.length > 0) {
              $('.suggestions').text(suggestions_string);
              $('#suggestions_box').show();
            } else {
              $('#suggestions_box').hide();
          }
        }
      }
    }
      // password_check will be called whenever
      // content in the password box is changed
    $('#new_password').on('change', password_check);
  }

</script>
