.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

ul.alertspace {
  height: auto;
  padding: 0;
}

li#warning_box {
  max-width: 320px;
  background-color: #FFECED;
  text-align: center;
  border: solid 1px #CCC;
  list-style-type: none;
  color: #FF4D4D;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

li#warning_box:before {
  content: '';
  display: inline-block;
  height: 35px;
  width: 35px;
  position: relative;
  background-image: url('../img/icons/warning.svg');
  background-repeat: no-repeat;
  background-size: 35px 35px;
}

li#suggestions_box {
  max-width: 320px;
  background-color: #FCFECC;
  text-align: center;
  margin-top: 5px;
  color: #5E550C;
  list-style-type: none;
  border: solid 1px #CCC;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

li#suggestions_box:before {
  content: '';
  display: inline-block;
  height: 35px;
  width: 35px;
  position: relative;
  background-image: url('../img/icons/suggestion.svg');
  background-repeat: no-repeat;
  background-size: 35px 35px;
}

.spacing p {
  padding-left: 5px;
  padding-right: 5px;
}
