
// Fonts imports

@mixin font-face($fontname, $filename: $fontname, $weight: normal, $style: normal) {
 @font-face {
   font-family: $fontname;
   src: url('../fonts/#{$filename}.woff2') format('woff2'),
        url('../fonts/#{$filename}.woff') format('woff');
   font-weight: $weight;
   font-style: $style;
 }
}
// This mixin is used in conjuction with @ import statement for locally storeed fonts
// @include font-face('Nunito', 'nunito-sans-v3-latin-ext_latin-700-italic', 700, italic);

// To use with other fonts customise the path  '..fonts/...' to something else
// The above avoids using the calling locally stored faces to avoid mixups for users
// with non-macron (full latin) supported versions of fonts installed locally (an NZ lang thing):
