
<!-- Modal - Take tater (hidden until JS triggered) -->

<div class="modal fade" id="take-tater" tabindex="-1" role="dialog" aria-labelledby="take-tater" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action="{{ url_for('do_handover') }}" method="post">
        <div class="modal-header">
          <h4 class="modal-title text-center" id="exampleModalLabel">So, you ain't no spec-tater...</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <textarea class="form-control input-focused" id="tater-message" name="message" placeholder="Optional handover message"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="reset" class="btn btn-lg btn-outline-secondary" data-dismiss="modal">Close</button>
          <button id="take-tater-submit-button" type="submit" class="btn btn-lg btn-primary">Take tater</button>
        </div>
      </form>
    </div>
  </div>
</div>
