{% include "header.html" %}
{% include "menu.html" %}
{% include "messages.html" %}
{% include "missed_hbeats.html" %}

{% block body %}

<table class="table table-responsive table-hover" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>Name</th>
            <th>Missed Heartbeat Limit</th>
            <th>Heartbeat Threshold</th>
            <th>Last Heartbeat</th>
        </tr>
    </thead>
    <tbody>
        {%- for serv in servs %}
            <tr class="bg-danger">
                <td>{{ serv["hostname"] }}</td>
                <td>{{ serv["missed_heartbeat_limit"] }} heartbeats</td>
                <td>{{ serv["hbeat_threshold"].total_seconds()|int() }} seconds</td>
          {% if serv["last_hbeat"] -%}
                <td>{{ serv["last_hbeat_ago"] }} ago ({{ to_local_time(serv["last_hbeat"], tz=current_user.timezone) }})</td>
          {%- else -%}
                <td>Never</td>
          {%- endif %}
            </tr>
        {%- endfor %}
	</tr>
    </tbody>
</table>

{% endblock %}
{% include "footer.html" %}

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/v/dt/dt-1.10.15/fh-3.1.2/datatables.min.js"></script>
<script>
$(document).ready( function () {
    $('.data-me-up').DataTable( {
        "order": [[ 3, 'desc' ]],
        "paging": false,
        "searching": false,
	      "fixedHeader": true,
        "columnDefs": [
            { "orderable": false, "targets": 0 }
        ],
    } );
} );
</script>

