<nav class="navbar-custom navbar-light navbar-expand-sm">
  <a href="/" class="navbar-brand" style=""><img src="{{ url_for('static', filename='img/tater-logo-app.svg') }}" alt="Hot Potato Logo - A violently flaming potato"></a>
  <button class="navbar-toggler no-focus" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <img class="icon icon-navbar-toggler" src="{{ url_for('static', filename='img/icons/icon-hamburger.svg') }}" alt="Main menu button">
  </button>
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item{% if request.path in ["/", "/notifications"] %} active{% endif %}">
          <a class="nav-link" href="/notifications">
            Notifications
            {% if request.path in ["/", "/notifications"] %}<span class="sr-only">(current)</span>{% endif %}
          </a>
        </li>
        <li class="nav-item{% if request.path in ["/servers"] %} active{% endif %}">
          <a class="nav-link" href="/servers">Servers</a>
          {% if request.path in ["/servers"] %}<span class="sr-only">(current)</span>{% endif %}
        </li>
        <li class="nav-item account dropdown">
          {# Caution: This element's id is used by the tests. #}
          <a class="nav-link dropdown-toggle" href="#" id="account-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ current_user.name|default(current_user.email, true) }}
            <img class="icon" src="{{ url_for('static', filename='img/icons/icon-user.svg') }}" aria-hidden="true">
          </a>
          <div class="dropdown-menu" aria-labelledby="account-dropdown">
            <a class="dropdown-item p-2" href="/account">Account Settings</a>
            <a class="dropdown-item p-2" href="/change">Change Password</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item p-2" href="/logout">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
