{%- if num_missed_hbeats %}
  <div class="alert alert-danger">
  {%- if num_missed_hbeats == 1 -%}
    <p><center>There is {{ num_missed_hbeats }} <strong>missed heartbeat</strong> notification - Trouble Code <a href="https://docs.hotpotato.nz/hotpotato002.html">HOTPOTATO002</a></center></p>
  {%- else -%}
    <p><center>There are {{ num_missed_hbeats }} <strong>missed heartbeat</strong> notifications - Trouble Code <a href="https://docs.hotpotato.nz/hotpotato002.html">HOTPOTATO002</a></center></p>
  {%- endif -%}
  {%- if request.path != "/servers/missed_hbeats" %}
    <p><center><a href="/servers/missed_hbeats">Click here to view</a></center></p>
  {%- endif -%}
  </div>
{%- endif %}
