{% macro display_notifications(notifications) %}
  {% set ns = namespace(date=None) %}
  {% for notif in notifications %}
    {% set notif_date = to_local_time(notif.received_dt, tz=current_user.timezone, format_='%A, %d %b %Y') %}
    {% if notif_date != ns.date %}
      {% if ns.date %}
        {# Close the previous 'notif-group' tag #}
        </div>
      {% endif %}
      <div class="container notif-group">
        <div class="date">{{ notif_date }}</div>
      {% set ns.date = notif_date %}
    {% endif %}
    <div class="card-wrapper">
      <a class="dropdown-toggle btn-icon no-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="icon" src="{{ url_for('static', filename='img/icons/icon-more.svg') }}" alt=""></a>
      <div class="dropdown-menu dropdown-menu-right dropdown-action" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{{ url_for('notifications_get_by_id', notif_id=notif.id) }}">Details</a>
        {# TODO: implement these two in JS #}
        <button type="button" class="dropdown-item link-copy" data-clipboard-text="{{ request.url_root }}{{ url_for('notifications_get_by_id', notif_id=notif.id)[1:] }}">Copy link</a>
        <button type="button" class="dropdown-item link-copy" data-clipboard-text="{{ notif.body }}">Copy summary</button>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" data-toggle="collapse" href="#collapse{{ notif.id }}" role="button" aria-expanded="false" aria-controls="collapseExample">
          Show raw data
        </a>
      </div>
      <div class="card{% if notif.is_critical or notif.failed_to_send() %} fire{% endif %}">
        {{ render_notification_icon(notif) }}
        {{ render_notification_card(notif) }}
        </div>
      </a>
    </div>
  {% endfor %}

  {% if ns.date %}
    {# Close the previous 'notif-group' tag #}
    </div>
  {% endif %}
{% endmacro %}

{% macro render_notification_icon(notif) %}
  {% if notif.notif_type == "alert" %}
    {% if notif.is_critical %}
      {% set title = "Critical Alert" %}
      {% set icon = url_for('static', filename='img/icons/icon-fire.svg') %}
    {% elif notif.json["state"] == "WARNING" %}
      {% set title = "Warning" %}
      {% set icon = url_for('static', filename='img/icons/icon-alert.svg') %}
    {% elif notif.json["state"] == "UP" or notif.json["state"] == "OK" %}
      {% set title = "Status update" %}
      {% set icon = url_for('static', filename='img/icons/icon-thumb-up.svg') %}
    {% else %}
      {% set title = "Alert" %}
      {% set icon = url_for('static', filename='img/icons/icon-alert.svg') %}
    {% endif %}
  {% elif notif.notif_type == "handover" %}
    {% set title = "Handover" %}
    {% set icon = url_for('static', filename='img/icons/icon-next.svg') %}
  {% elif notif.notif_type == "message" %}
    {% set title = "Message" %}
    {% set icon = url_for('static', filename='img/icons/icon-message.svg') %}
  {% else %}
    {% set title = "Notification" %}
    {% set icon = url_for('static', filename='img/icons/icon-message.svg') %}
  {% endif %}
  <a href="{{ url_for('notifications_get_by_id', notif_id=notif.id) }}" class="card-icon" data-toggle="tooltip" data-placement="top" title="{{ title }}">
    <img class="icon" src="{{ icon }}" alt="{{ title }}">
  </a>
{% endmacro %}

{% macro render_notification_card(notif) %}
  {% set notif_time = to_local_time(notif.received_dt, tz=current_user.timezone, format_='%I:%M %p') %}
  {% set notif_dt = to_local_time(notif.received_dt, tz=current_user.timezone, format_='%Y-%m-%d&nbsp;%H:%M:%S %z') %}
  <div class="card-body">
    <div class="card-title">
      <h2 class="h6">
        {% if notif.notif_type == "alert" %}
          {% if notif.json["service_name"] %}
            <span class="service">{{ notif.json["service_name"] }}</span>
            <span class="text-subtle"> on </span>
          {% endif %}
          <span class="hostname"{% if notif.json["display_name"] %} data-toggle="tooltip" data-placement="top" title="{{ notif.json["display_name"] }}"{% endif %}>
            {{ notif.json["hostname"] }}
          </span>
        {% elif notif.notif_type == "handover" %}
          {%- set to_user = users.get(notif.json["to_user_id"]) -%}
          {%- set from_user = users.get(notif.json["from_user_id"]) if notif.json["from_user_id"] else None -%}
          <span class="tater-holder">{{ render_user(to_user, link=True) }}{% if to_user.id == notif.user_id %}<small>(recipient)</small>{% endif %}</span>
          {% if from_user %}
            <span class="text-subtle">has taken over the pager from</span>
            <span class="tater-giver">{{ render_user(from_user, link=True) }}{% if from_user.id == notif.user_id %}<small>(recipient)</small>{% endif %}</span>
          {% else %}
            <span class="text-subtle">has taken the pager</span>
          {% endif %}
        {% elif notif.notif_type == "message" %}
          {%- set from_user = users.get(notif.json["from_user_id"]) if notif.json["from_user_id"] else None -%}
          {% if from_user %}
            {{ render_user(from_user, link=True) }}
          {% else %}
            Hot Potato
            <span class="badge badge-secondary font-weight-normal">internal</span>
          {% endif %}
        {% else %}
        {% endif %}
        {% if notif.json["trouble_code"] and config.get('HOTPOTATO_TROUBLECODE_URL') -%}
          &mdash; <a href="{{ config.get('HOTPOTATO_TROUBLECODE_URL').format(trouble_code=notif.json['trouble_code']) }}">{{ notif.json["trouble_code"] }}</a>
        {%- endif -%}
      </h2>
    </div>
    <div class="card-text">
      <div>
        <span class="time" data-toggle="tooltip" title="{{ notif_dt }}">{{ notif_time }}</span>
        <span class="message">
          {% set truncate_len = 500 %}
          {% set elipsis = render_elipsis(link=url_for('notifications_get_by_id', notif_id=notif.id)) %}
          {% if notif.notif_type == "alert" %}
            {% set hyphen = joiner(" &mdash; ") %}
            {% if notif.json['state'] %}
              {{ hyphen() }}
              <span data-toggle="tooltip" title="Status">{{ notif.json['state'] }}</span>
            {% endif %}
            {% if notif.json['output'] %}
              {{ hyphen() }}
              <span class="message">{{ notif.json['output']|truncate(truncate_len, end=elipsis) }}</span>
            {% endif %}
          {% elif notif.notif_type in ["handover", "message"] %}
            {% if notif.json['message'] %}
              {{ notif.json['message']|truncate(truncate_len, end=elipsis) }}
            {% else %}
              <i>(No message)</i>
            {% endif %}
          {% else %}
            {{ notif.body|truncate(truncate_len, end=elipsis) }}
          {% endif %}
        </span>
      </div>
      <div class="delivery">
        {% if notif.has_been_received_by_client() %}
          Received by client
        {% elif notif.has_been_sent() %}
          Sent
        {% elif notif.is_sending() %}
          Sending
        {% elif notif.failed_to_send() %}
          Send failed
        {% else %}
          Not yet sent
        {% endif %}
      </div>
    </div>
    <div class="accordion" id="accordionExample">
      <div class="collapse" id="collapse{{ notif.id }}">
        <hr />
        <code><pre class="mb-0">{{ notif.as_json(indent=2) }}</pre></code>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro render_user(user, link=False) %}
  {% if link %}
    <a href="#">
  {% endif %}
  {{ user.name }}
  {% if link %}
    </a>
  {% endif %}
{% endmacro %}

{% macro render_elipsis(link=False) -%}
  {% if link %}
    <a href="{{ link }}">
  {% endif %}
  &hellip;
  {% if link %}
    </a>
  {% endif -%}
{%- endmacro %}
