{% include "header.html" %}
{% include "menu.html" %}
{% include "messages.html" %}
{% include "failed_alerts.html" %}

{% block body %}

{% include "modals/message.html" %}
{% include "modals/take.html" %}

<div class="header">
  <div class="container">
    <div class="page-title">
      <h1 class="h4">{{ heading }}</h1>
      {% if i_can_figure_out_this_condition %}
      <div class="page-title-meta">
        <img class="icon" src="{{ url_for('static', filename='img/icons/icon-fire.svg') }}" alt="">
        <p>1 critical notification in last hour</p>
      </div>
      {% endif %}
    </div>
    <div id="notif-actions" class="actions"> <!-- Actions menu -->
      <div class="assigned mr-auto">
        {% if not pagerperson.id %}
          The tater isn't held!
        {% elif pagerperson == current_user %}
          <div class="assignee">You</div> hold the tater
        {% else %}
          <div class="assignee">{{ pagerperson.name }}</div> holds the tater
        {% endif %}
      </div>
      {% if pagerperson.id %}
        <div data-toggle="tooltip" data-placement="bottom" title="Message tater holder">
          <button id="message-tater-button" type="button" class="btn btn-lg btn-icon btn-outline-secondary" data-toggle="modal" data-target="#message-tater"><img class="icon" src="{{ url_for('static', filename='img/icons/icon-message-add.svg') }}" alt=""></button>
        </div>
      {% endif %}
      <button {% if pagerperson == current_user %}disabled {% endif %}type="button" class="btn btn-lg btn-primary btn-tater" data-toggle="modal" data-target="#take-tater">
        Take Tater
        <svg>
          <path id="btn-tater" d="M62.05 56C43.967 56 25.883 56 7.8 56C3.5 56 0 52.5 0 48.3C0 37.433 0 26.567 0 15.7C0 11.5 3.5 8 7.8 8C16.4 8 25 8 33.6 8C42.2 8 50.8 8 59.4 8C78.333 8 97.267 8 116.2 8C116.2 8 116.2 8 116.2 8C120.5 8 124 11.5 124.1 15.7C124.1 26.533 124.1 37.367 124.1 48.2C124.1 52.5 120.6 56 116.3 56C107.258 56 98.217 56 89.175 56L62.05 56"/>
        </svg>
      </button>
    </div>
  </div>
</div>

<!-- Notification search filter -->
<!-- Filter mobile accordion toggle -->

<div class="container filter-toggle">
  <button class="btn btn-sm btn-outline-secondary btn-block" type="button" data-target=".filters" data-toggle="collapse" >Filter notifications</button>
</div>

<div id="notif-filters" class="filters collapse">
    <div class="container">
      <form action="?" method="get" class="form-inline flex-sm-grow-1" id="notification-filter-form">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><img class="icon icon-secondary" src="{{ url_for('static', filename='img/icons/icon-search.svg') }}" alt=""></span>
          </div>
          <input type="text" {% if 'body' in current_search_filters %}value="{{ current_search_filters['body'] }}" {% endif %}class="form-control" placeholder="Filter..." aria-label="Filter notifications" />
        </div>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><img class="icon icon-secondary" src="{{ url_for('static', filename='img/icons/icon-calendar.svg') }}" alt=""></span>
          </div>
          <input type="date" {% if 'start_date' in current_search_filters %}value="{{ current_search_filters['start_date'] }}" {% endif %}name="start_date" class="form-control" placeholder="dd/mm/yyyy" aria-label="Filter notifications" />
        </div>
        <div class="input-group input-range">
          <input type="date" {% if 'end_date' in current_search_filters %}value="{{ current_search_filters['end_date'] }}" {% endif %}name="end_date" class="form-control" placeholder="dd/mm/yyyy" aria-label="Filter notifications" />
        </div>
        <div class="input-group">
          <button id="search-filters-apply" type="submit" class="btn btn-primary">Apply</button>
        </div>
      </form>
      <form method="post" enctype="multipart/form-data">
        {% for id in id_notif.keys() -%}
          <input type="hidden" name="id" value="{{ id }}">
        {%- endfor %}
        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Export <span class="caret"></span></button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <button type="submit" formaction="{{ url_for('api_web_v1.notifications_get') }}" class="dropdown-item" id="notifications-export-as-json">As JSON</button>
          <button type="submit" formaction="{{ url_for('api_web_v1.notifications_get_as_csv') }}" class="dropdown-item" id="notifications-export-as-csv">As CSV</button>
        </div>
      </form>
    </div>
</div>

<!-- Notifications table -->

<div id="notifications">
  {% from "notifications/display.j2" import display_notifications %}
  {{ display_notifications(id_notif.values()) }}
</div>


{% endblock %}

{% include "footer.html" %}
