{% include "header.html" %}
{% include "menu.html" %}
{% include "messages.html" %}

{% block body %}

<h2>Add contact method</h2>
<p>Add a method for Hot Potato to contact you via</p>

<p><b>Note:</b> You will need to specify phone numbers in the +64 format, ie +642712345678 without any spacing</p>
<!-- Start of WTForm -->
<form action="{{ url_for('add_contact_method') }}" method="post">
  {{ form.csrf_token }}
  <p>{{ form.method.label }}: {{ form.method }} </p>
  <p>{{ form.contact.label }}:  {{ form.contact }} </p>
  <p>{{ form.priority.label }}: <input type="number" name="{{ form.priority.id }}" value="{{ form.priority.data }}"></p>
  <p>{{ form.send_pages.label }}*: {{ form.send_pages }} </p>
  <p>{{ form.send_failures.label }}: {{ form.send_failures }} </p>

  <p>*By selecting "send pages" you'll also recieve pager messages via this method while you're on-call.</p>
  <input type="submit" value="Submit">
</form>

{% endblock %}
{% include "footer.html" %}
