{% macro table_oncall_contacts(caption, contacts) %}
<table class="table table-striped">
  <caption>{{ caption }}</caption>
  <tr>
    <th>Priority</th>
    <th>Method</th>
    <th>Contact</th>
    <th>Send Notifications?</th>
    <th style="cursor: help" title="Send a notification when Hot Potato is unable to deliver a notification to an on-call user">Send failures?</th>
    <th>Send Test</th>
    {% if contacts %}<th><center>Delete</center></th>{% endif %}
  </tr>

  {% for contact in contacts -%}
  <tr>
    <td>{{ contact.priority }}</td>
    <td>{{ contact.method }}</td>
    <td>{{ contact.contact }}</td>

    <td class="bg-warning">
      <form
        action="/account/toggle-send-pages/{{ contact.id }}"
        id="toggle-send:{{ contact.id }}"
        method="POST"
      >
        <button type="submit" form="toggle-send:{{ contact.id }}">
          {% if contact.send_pages -%}
            ✓ Yes
          {%- else -%}
            ✗ No
          {%- endif %}
        </button>
      </form>
    </td>

    <td class="bg-warning">
      <form
        action="/account/toggle-send-failures/{{ contact.id }}"
        id="toggle-failure:{{ contact.id }}"
        method="POST"
      >
      <button type="submit" form="toggle-failure:{{ contact.id }}">
          {% if contact.send_failures -%}
            ✓ Yes
          {%- else -%}
            ✗ No
          {%- endif %}
        </button>
      </form>
    </td>

    <td class="bg-warning">
      <form
        action="/account/send-test-message/{{ contact.id }}"
        id="test-message:{{ contact.id }}"
        method="POST"
      >
      <button type="submit" form="test-message:{{ contact.id }}">
          Test
        </button>
      </form>
    </td>

    <td><center><input type="checkbox" name="{{ contact.id }}" id="{{ contact.contact }}" form="delete-form"></center></td>
  </tr>
  {%- endfor %}

  <tr>
    <td class="bg-info text-center" colspan="6" style="vertical-align:middle"><b><a href="/account/add-contact-method">Add a contact method</a></b></td>

    {% if contacts -%}
    <td class="bg-info"><center><input form="delete-form" type="submit" value="Delete"></center></td>
    {%- endif %}
  </tr>
</table>
{% endmacro %}
